@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?77410305");
  src: url("../font/fontello.eot?77410305#iefix") format('embedded-opentype'), url("../font/fontello.woff?77410305") format('woff'), url("../font/fontello.ttf?77410305") format('truetype'), url("../font/fontello.svg?77410305#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?77410305#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity .8 */
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - magrins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-pause:before { content: '\2389'; } /* '⎉' */
.icon-next:before { content: '\23e9'; } /* '⏩' */
.icon-prev:before { content: '\23ea'; } /* '⏪' */
.icon-play:before { content: '\25b6'; } /* '▶' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-retweet:before { content: '\e717'; } /* '' */
.icon-cc:before { content: '\e7a5'; } /* '' */
.icon-cc-by:before { content: '\e7a6'; } /* '' */
.icon-cc-nc:before { content: '\e7a7'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-shuffle:before { content: '🔀'; } /* '\1f500' */


body{
    background: url('/css/asset/bg.png') repeat #ebe6de;
    font-size: 10px;
    font-family: 'Didot', 'Times New Roman', 'georgia', serif;
    color: #111;
    margin: 0;
    padding: 0;
}

.wrapper {
    background: url('/css/asset/pattern.png') 0px -10px repeat-x;
}
.wrapper>footer {
    background: url('/css/asset/pattern.png') top repeat-x;
    padding: 22px 0 10px 0;
}

.contraline {
    border-top: solid 4px #111;
    border-bottom: solid 1px #111;
}

/* --- Fluid Font Size --- */

header h1{
    font-family: 'Great Vibes', cursve;
    font-size: 10em;
    font-weight: normal;
    margin: 0;
    color: #111;
    line-height: 0.9em;
}
header h1 a {color: #111;}
header h1 a:hover {color: #f24747;}

header h1 sup {
    display: inline-block;
    border-radius: 6px;
    padding: 3px 6px;
    font-family: "courier", sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 1em;
    color: #ebe6de;
    background-color: rgba(242, 71, 71, .5);
    text-shadow: none;
}

nav, .copyright, .controller, .metadata {
    font-family: 'verdana', sans-serif;
}

h1, h2, h3, h4, h5, h6 {line-height: 1.2em; margin: 1.2em 0 0 0;}

h1 {font-size: 4.8em; }
h2 {font-size: 3.6em;}
h3 {font-size: 2.4em;}
h4 {font-size: 2em;}
h5 {font-size: 1.8em;}
h6 {font-size: 1.6em;}


p {font-family:'georgia', serif; font-size: 1.8em; line-height: 1.5em; color: #333;}

blockquote {font-size: 4em; line-height: 1.5em;}
nav {font-size: 1.4em; text-transform: uppercase;}
article {padding-bottom: 4em;}

.controller {text-align: center;}
.filters {padding: 1em 0;}
.filters a {font-size: 1.2em; display: inline-block; margin: 5px;}
.copyright {font-size: 1.2em;}

.metadata, .social.icon  {display:inline-block; font-size: 1.3em; margin:0 0 5px 0;}
.control.icon {font-size: 2.4em; margin: 0;}


/* --- Grid & Positioning--- */
.wrapper {max-width: 900px; width: 90%; margin: 0 auto; padding: 35px 0 0 0;}
.row {width:100%;}
header {margin: 0; padding:0;}
article footer .metadata {float:left;}
.social.icon {float: right;}
.social.icon li {float: left;}
.social.icon li:not(:last-of-type) {margin-right: 30px;}

footer nav{float:left;}
footer .copyright {float: right; margin: 5px 0;}

.group:after {
    content: "";
    display: table;
    clear: both;
}

/* --- Styling & UI --- */
a {
    text-decoration: none;
    color: #666;
    display: inline-block;
}

a:hover, a:active {
    text-decoration: none;
    color: #f24747;
}
a.active{color:#f24747;}
a.active:not(.toggle) {cursor: default;}

.control.icon a{color: #222; padding: 0 15px;}
.control.icon a:hover {color:#f24747; text-shadow: 0 0 3px #f24747;}
.control.icon a.active{color:#f24747;}

nav a {color: #222; margin:5px 50px 5px 0;}
nav a:hover {}

ul.unstyled {list-style:none;}
blockquote {
    quotes:"\201C""\201D""\2018""\2019";
    margin: 2em 0;
}

blockquote:before { content: open-quote;}
blockquote:after {content: close-quote;}

.control.icon {padding: .8em 0; border-bottom:dotted 1px #f24747;}

h1, blockquote, .icon {text-shadow: 0px 1px 0px #fff;}

@media (max-width:850px) {
    nav {
        float: none;
        display:table;
        width: 100%;
        margin-bottom: 20px;
        border-collapse: separate;
    }
    nav a {
        display: table-cell;
        width: 33.33333%;
        padding: 10px;
        text-align:center;
        vertical-align:middle;
        color: #fff;
        background: #f24747;
    }
    nav a:not(:last-of-type) {border-right: 2px solid #ebe6de;}
    nav a:hover, nav a:active {
        color: #fff;
        background-color: #f23b3b;
    }
    footer .copyright {float: none; text-align: center; }
}

@media (max-width: 600px){
    .filters, .metadata {display: none;}
    nav {font-size: 1.2em;}
}
